.main {
  position: relative;
  background-color: #f1f3f7;
  padding-top: 15px;
}
.main-header {
  display: block;
  margin: 0 auto;
  font-size: 18px;
  max-width: 40rem;
  padding: 20px 0 15px;
  text-align: center;
  background-color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-top: 1px solid #dee1e6;
  border-bottom: 1px solid #dee1e6;
}
